body {
  background: repeating-linear-gradient(90deg, magenta, lime 10px, cyan 20px);
  font-family: "Comic Sans MS", cursive;
  cursor: crosshair;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}

a {
  color: red;
  background: yellow;
  text-decoration: blink;
  border: 5px dotted green;
  padding: 5px;
}
